.system{
    margin-left: -799px;
    margin-top: 42px;
    font-size: 36px;
}
.hr-one{
    margin-left: 46px;
    width: 389px;
  
    
}
.container{
    border: 1px solid  #442505;
    height: 82vh;
    margin-top:186px ;
    background-color: #442505;


}
.image-one{
    margin-top: -75px;
    margin-left: -6px;    
}

.image-two{
    margin-top: -75px;
    margin-left: 89px;    
}
.image-three{
    margin-top: -75px;
    margin-left: 87px;    
}
.container-two{
    border: 1px solid white;
    height: 92vh;
    margin-top: -97px;
    background-color:  #F5F5F5;   
}
.live{
    font-size: 26px;
    margin-left: -843px;
    color: #FFFFFF;
}
.identification{
    font-size: 26px;
    margin-top: -52px;
    color: #FFFFFF;
}
.matched{
    font-size: 26px;
    margin-top: -75px;
    color: #FFFFFF;
    margin-left: 802px;
}
hr{
    width: 533px;
   
}
.one{
    margin-left: -492px;
    margin-right: 542px; 
    margin-top: -75px;
 
}

.icon-one h1 {
    color: #442505;
    font-weight: 400;   
    font-size: 26px;
    margin-left: -532px;
    margin-top: 52px;   
}
.icon-one p{
    margin-top: 5px;
    margin-left:-482px;
}

.icon-one .video{
    margin-top: -99px;
    margin-bottom: 21px;
    margin-left: -892px;
    color: #E8733A;
}

.four{
    margin-top: -73px;
    margin-right: 12px;
}
.icon-two h1{
    font-weight: 400; 
    color: #442505;
    font-size: 26px;
    margin-top: -113px;
    margin-left: 489px;
}
.icon-two p{
    margin-left:531px ;
}

.icon-two .camera{
    margin-top: -119px;
    margin-bottom: 26px;
    margin-left: 119px;
    color: #E8733A;
}


.icon-three h1{
    font-weight: 400; 
    color: #442505;
    font-size: 26px;
    margin-top: 99px;
    margin-left: -543px;
    
}
.icon-three p{
    margin-top: 22px;
    margin-left: -471px;
    
}
.icon-three .face{
    margin-top: -77px;
    margin-bottom: 24px;
    margin-left: -897px;
    color: #E8733A;
}
.two{
    margin-left: -1028px;
    margin-top: -73px;
}

.icon-four h1{
    font-weight: 400; 
    color: #442505;
    font-size: 26px;
    margin-top: -114px;
    margin-left: 513px;
}
.icon-four p{
    margin-left: 536px;
}
.icon-four .folder {
    margin-top: -94px;
    margin-bottom: 28px;
    margin-left: 122px;
    color: #E8733A;
}
.five{
    margin-top: -81px;
}

.icon-five h1{  
    font-weight: 400; 
    color: #442505;
    font-size: 26px;
    margin-left: -445px;
    margin-top: 96px;
}
.icon-five p{  
  
    margin-left: -445px;
    margin-top:26px;
}
.icon-five .neuter{
    margin-left: -884px;
    margin-top: -199px;
    margin-bottom: 21px;
    color: #E8733A;
}
 .three{
    margin-left:-1019px; 
    margin-top: -88px;   
}
.icon-six h1{
    font-weight: 400; 
    color: #442505;
    font-size: 26px;
    margin-left: 572px;
    margin-top: -105px;
}
.icon-six p{
    margin-left: 563px;
}
.tv{
    margin-left: 131px;
    margin-top: -198px;
    margin-bottom: 27px;
    color: #E8733A;
}
.six{
    margin-top:-84px ;
}