
.App {
  text-align: center;
}
body{
  background-color: #FEF1EB;
  font-family: "Bellefair";

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.picture{
   background-color: #FFF1EB;
}
.paragraph{
    background-image: url(images/leo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:60vh;
}
.paragraph p{
    font-size: 30px;
    padding:70px;
}
.process{
    display:flex;
    font-family:'Cabin Condensed', sans-serif;
    padding-top: 50px;
}
.process p{
     font-size: 25px;
}
.details1{
    border: 1px solid #E8733A;
    background-color: #E8733A;
    padding-left: 100px;
    padding-top: 20px;
    color: #442505;
    width: 400px;
    height:70px;
}
.details2{
    border: 1px solid #BD854A;
    background-color: #BD854A;
    color: #442505;
    padding-top: 20px;
    padding-left: 150px;
    margin-left:10px;
    width:  400px;
    height:70px;
}
.details3{
    border: 1px solid #442505;
    background-color: #442505;
    padding-left: 100px;
    padding-top: 20px;
    margin-left:10px;
    color:#BD854A ;
    width: 400px;
    height:70px;
}
.details3 p i{
    color:#BD854A; 
}
.words{
    display:inline-flex;
}
.fa-solid{
    width:30px;
}
#save{
    color: #BD854A;
}
.Team h1{
   padding-top: 70px;
   padding-left: 70px;
   font-size: 60px;
   font-weight: 10;
   padding-left: 100px;
}
.line{
    border-bottom:1px solid #E8733A;
    width:200px;
    padding-left:210px;
    margin-left: 70px;
    margin-top: 10px;
}
.Teamtext{
    display:flex;
    padding:70px;
}
.Teamtext img{
    padding-left: 40px;
}
.Teamtext p{
    font-size: 30px;
    padding-top:50px;
    padding-left: 100px;
}
.footer{
    display:flex;
    background-color: #442505;
    height:20vh;
    padding: 10px;
}
.logo2{
    display:inline-block
}
.left-logo{
    display: flex;
}
.left-logo p{
    color:#ffff;
    font-size: 15px;
    padding-left: 20px;
}
.foot-line{
    border-left:1px solid #ffff;
    height:100px;
   margin-left: 10px;
    margin-top: 10px;
}
.identify p{
    padding-top: 40px;
    color:#ffff;
}
.rights{
    color:#ffff;
    font-size: 20px;
    padding-top: 90px;
    padding-left: 250px;
}
.socials{
    padding-top: 50px;
    display:flex;
    color:#ffff; 
    padding-left: 500px;
}
#i{
    color:#fff;
    
    padding-right:20px;
}
#p{
  color:#442505;
  padding-right:20px;
}
#pp{
  color:#BD854A;
  padding-right:20px;
}