body{
  overflow-x: hidden; 
}
.top{
    margin: auto;
    padding: auto;
    overflow-x: hidden; 
    background-image: url('images/lionz.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;   
 }
 
 nav{
  margin-left: 472px; 

 }
 
  nav ul li {
      list-style: none;
      float:right;
      margin-left: 3%;  
      margin-right: -6%;
      margin-top: 4.5%;   
      font-size: 23px;
      color: white;
      padding-right:42px ;
  
   }
   nav ul{
    position:fixed;
    margin-left: 12%; 
  

   }
   nav ul li a{
    color: white;
    text-decoration: none;

 
   }

   nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;   
    /* margin:auto; */
    margin-top: 3px;
    transition:0.5s;
    background:  #E8733A;
  
    }
   nav a:hover::after{
    /* color:  #E8733A; */
    width: 100%;
  
   }
   .logo{
     width:8%;
     height: 20vh;
     margin-left: 1.5%;
     margin-top:-0.5%;
   }
 
 .line{
     border-left: 2px solid white;
     height: 81px;
     margin-left: 8%;
     margin-top: -9%;
     margin-bottom: 5%;
 }
 h1{
     margin-left: 14%;
     margin-top: -6%;
     font-size: larger;
     color: white;
 }

.lion h1{
    margin-left: 0.9%;
 

}

.lion{
    margin-left: 22%;   
    margin-top: 25%;
    color: white;
    text-align: left;
    font-size: 46px;
}
.horiz{
    border-left: 1px solid #ffff;
    height: 79px;
    margin-left: 11%;
    margin-top: -5%;
    width: 44%;
}
.text-container{
    border: 1px solid #BD854A;
    background-color: #BD854A;
    width: 833px;
    height: 295px;
    margin-top: -9%;
 
    /* margin-top: 16%; */
    margin-left: 16.5%;
   
    
}
.text-container p{
font-size: 24px;
margin-top: 7%;
letter-spacing: 1px;
line-height: 31px;
margin-left: 8%;
color: white;
}