
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Oleo+Script+Swash+Caps&display=swap');

*{
    font-family: 'Bellefair', serif;
    cursor: pointer;
   

}
.container-tech{
    /* border: 1px solid blue; */
    width: 100vw;
    height: 37vh;
    background-color: white;
    margin-top:32%;
    margin-bottom: 13%;
    color: black;
}
.container-tech p{
    font-size: 66px;
    margin-top: -25%;
    margin-left: 5%;  
}

.line-2{
    border-bottom: 2px solid  orange;
    width: 42%;
    margin-top: -31%;
    margin-left: 5%;
    height: 82px;
 
   
}
.container-words{
    border: 1px solid #442505 ;
    margin-top: 6%;
    background-color:#442505;
    width: 100%;
    height: 56vh;
}
.container-words p{
    margin-top: 3%;
    margin-left:6% ;
    font-size: 26px;
    color: white;
}
.leo{
    margin-top: -97%;
    margin-left:54% ;
    height: 71vh;
    width: 30%;
}
.tech-used h1{
    font-size: 56px;
    margin-left: 35%;
    margin-top: 3%;
    font-weight: 400;
    color: black;
}
.computer-vision{
    margin-bottom: -41px;
    margin-top: -11px;
}
.cv .compu{
    font-size: 41px;
    margin-top: -82px;
   margin-bottom: 19px;
    margin-left: 9%;       
    color:#442505;
    font-weight: 400;
    font-family: 'Bellefair', serif;
}

.computer-vision .one{
    margin-top: 1%;
    margin-bottom: 9%;  
    margin-left: 16%;
    color:white;
    border:solid 1px yellow ;
    background-color:#E8733A;
    border-radius:50px;
    font-size:89px;
}
.cv p{
margin-top: -1.2%;
    margin-bottom:9.3% ;
    margin-left: 9.5%;
    font-size: 21px;
}
.cv{
    margin-bottom: 81px;
}

.line-1{
    border-left: 1px solid black;
    height: 299px;
    margin-left: 35%;
    margin-top:-28.5%;
}
.python{
    margin-top: 3%; 
}
.python .py{
    color:#442505;
    font-size: 41px;
    font-weight: 400;
    padding-bottom: 23px;
    padding-top: 19px;
}

.tech{
    margin-top: 81px;
}
.techs{
    margin-top: 81px;
    padding-left: 29px;
}

.python .two{
    margin-left: 45%;
    margin-top: -29%;
    margin-bottom: 62%;
    color:white;
    border:solid 1px yellow ;
    border:solid 1px yellow ;
    background-color:#E8733A;
    border-radius:50px;
    font-size:89px;
}
.python h1{
    font-size: 46px;
    color: black;
    margin-top: -62%;
    margin-left: 45%;
}

.python p{
    margin-left: 41%;
    margin-top: -3%;
    font-size: 21px;
}
.line-3{
    border-left: 1px solid black;
    height: 311px;
    margin-left: 65%;
    margin-top: -32%;
   
}

.deep .learning{
    font-weight: 400;
    color:#442505;  
    margin-top: -39.5%;
}


h3{
    font-size: 56px;
    margin-left: 35%;
    margin-top: 3%;
    font-weight: 400;
    color: black;
}
.cloud{
    margin-top: -1%;
    margin-right: -84px;
}
.cloud h1{
font-size: 46px;
color: black;
margin-left: 67%;   
margin-top: -41%;
}
.cloud p{
    margin-left: 67%;
    margin-top: -2%;
    font-size: 21px;
}
.cloud .three{
    margin-top: -22%;
    margin-bottom: 42%;
    margin-left: 72%;   
    color:white;
    border:solid 1px yellow ;
    border:solid 1px yellow ;
    background-color:#E8733A;
    border-radius:50px;
    font-size:89px;
}



h3{
    margin-left: 7%; 
    margin-top: 6%;
    font-size: 62px;
}
.line-4{
    border-bottom: 2px solid #E8733A;
    height: 273px;
    margin-left: 7%;
    margin-top: -25%;
    width: 44%;
}
.name{
    background-color: #442505;
    margin-top: 9%;
    height: 66vh;
}
.image-one{
    margin-top: -3%;  
    margin-left: 3%;
    width: 27%;
    height: 77%;
}
.plus{
    margin-top: -15%;
    margin-bottom: 12%;
    padding-left:23px ;
    color: #E8733A;
}
.arrow{
    margin-top: -15%;
    margin-bottom: 12%;
    margin-left:-3% ;   
    color: #E8733A;
 

}
.image-two{
   
    margin-top:-19% ;
    margin-left: 1%;
    margin-right: 4%;
    width: 27%;
    height: 77%;
}
.image-three{
    margin-top: -4%;
    margin-left: 1%;
 
    width: 27%;
    height: 77%;
}

.one{
    margin-left: 11%;
    font-size: 32px;
    margin-top: 1%;
    color: white;
}
.two{
    margin-left: 37%;
    margin-top: -5%;
    font-size: 32px;
    color: white;
}
.three{
    margin-left: 76%;
    margin-top: -5%;
    font-size: 32px;
    color: white;
}
.process{
  font-size: 66px;
   margin-top: 6%;
   margin-left: 23%;
   color: black;
}

.line-5{
    border-bottom: 2px solid #E8733A;
    height: 273px;
    margin-left: 35%;
    margin-top: -25%;
    width: 29%;
    /* padding-top: 21px;
    padding-left: 91px; */
}
.line-6{
    border-bottom: 2px solid #E8733A;
    height: 273px;
    margin-left: 36%;
    margin-top: -23%;
    width: 29%;
}
.icon-one h1 {
    color: #442505;
    font-weight:bold;
    font-size: 32px;
    margin-left: 222px;
    margin-top: 52px;
}

.icon-one p{
    font-size: 26px;
    margin-top: 5px;
    margin-left:222px;
}
.icon-one .video{
    margin-top: -99px;
    margin-bottom: 41px;
    margin-left: 142px; 
    color: #E8733A;
}

.four{
    margin-top: -73px;
    margin-right: 12px;
}
.icon-two h1{
    font-weight:bold;
    color: #442505;
    font-size: 32px;
    margin-top: -159px;
    margin-left: 793px;
}
.icon-two p{
    margin-left:793px ;
    font-size: 26px;
}
.icon-two .camera{
    margin-top: -119px;
    margin-bottom: 36px;
    margin-left: 719px;
    color: #E8733A;
}

.icon-three h1{
    font-weight:bold;
    color: #442505;
    font-size: 32px;
    margin-top: 67px;
    margin-left: 222px;
}
.icon-three p{
    font-size: 26px;
    margin-top: 22px;
    margin-left: 222px;
}
.icon-three .face{
    margin-top: -89px;
    margin-bottom: 39px;
    margin-left: 139px; 
    color: #E8733A; 
}


.icon-four h1{
    font-weight:bold;
    color: #442505;
    font-size: 32px;
    margin-top: -162px;
    margin-left: 793px;
}
.icon-four p{   
    margin-left: 793px;
    font-size: 26px;
}
.icon-four .folder {
    margin-top: -99px;
    margin-bottom: 38px;
    margin-left: 722px;
    color: #E8733A;
}


.icon-five h1{
    font-weight:bold;
    color: #442505;
    font-size: 32px;
    margin-left: 212px;
    margin-top: 76px;
}
.icon-five p{
    margin-left: 215px;
    margin-top:26px;
    font-size: 26px;
}
.icon-five .neuter{
    margin-left: 132px;
    margin-top: -199px;
    margin-bottom: 33px;
    color: #E8733A;
}


.icon-six h1{
    font-weight:bold;
    color: #442505;
    font-size: 32px;
    margin-left: 792px;
    margin-top: -169px;
}
.icon-six p{
    margin-left: 792px; 
    font-size: 26px;
}
.tv{
    margin-left: 712px;
    margin-top: -198px;
    margin-bottom: 42px;
    color: #E8733A;
}
.process{
    font-size: 56px;
    margin-left: 35%;
    margin-top: 4%;
    font-weight: 400;
    color: black;
}
.line-5{
    padding-top: 21px;
    padding-left: 71px;
    /* margin-top: 1px; */
}
/* .live{
    font-size: 26px;
    margin-left: -843px;
    color: #FFFFFF;
}
.identification{
    font-size: 26px;
    margin-top: -52px;
    color: #FFFFFF;
}
.matched{
    font-size: 26px;
    margin-top: -75px;
    color: #FFFFFF;
    margin-left: 802px;
}
.image-one{
    margin-top: -32%;
    margin-left: -6px;
}
.image-two{
    margin-top: -9px;
    margin-left: 89px;
}
.image-three{
    margin-top: -5px;
    margin-left: 87px;
    height: 53vh;
}
.identify{
    margin-top: 4%;
    color: black;
    font-size:85px;
}
.line-5{
    border-bottom: 2px solid #E8733A;
    height: 273px;
    margin-left: 9%;
    margin-top: -25%;
    width: 54%;
}

.video{
  
    
    color:#E8733A;
    font-size:89px; 
}
.wan{
    font-size:89px; 
    margin-left:-1% ;
}
.myvid{
    margin-left: -55%;
    
}
.icon-one h1 {
    color: #442505;
    font-weight: 400;
    font-size: 26px;
    margin-left: -532px;
    margin-top: 52px;
}
.icon-one p{
    margin-top: 5px;
    margin-left:-482px;
}
.icon-one .video{
    margin-top: -99px;
    margin-bottom: 21px;
    margin-left: -892px;
    color: #E8733A;
}
.four{
    margin-top: -73px;
    margin-right: 12px;
}
.icon-two h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -113px;
    margin-left: 489px;
}
.icon-two p{
    margin-left:531px ;
}
.icon-two .camera{
    margin-top: -119px;
    margin-bottom: 26px;
    margin-left: 119px;
    color: #E8733A;
}
.icon-three h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: 99px;
    margin-left: -543px;
}
.icon-three p{
    margin-top: 22px;
    margin-left: -471px;
}
.icon-three .face{
    margin-top: -77px;
    margin-bottom: 24px;
    margin-left: -897px;
    color: #E8733A;
}
.two{
    margin-left: -1028px;
    margin-top: -73px;
}
.icon-four h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -114px;
    margin-left: 513px;
}
.icon-four p{
    margin-left: 536px;
}
.icon-four .folder {
    margin-top: -94px;
    margin-bottom: 28px;
    margin-left: 122px;
    color: #E8733A;
}
.five{
    margin-top: -81px;
}
.icon-five h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: -445px;
    margin-top: 96px;
}
.icon-five p{
    margin-left: -445px;
    margin-top:26px;
}
.icon-five .neuter{
    margin-left: -884px;
    margin-top: -199px;
    margin-bottom: 21px;
    color: #E8733A;
}
 .three{
    margin-left:-1019px;
    margin-top: -88px;
}
.icon-six h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: 572px;
    margin-top: -105px;
}
.icon-six p{
    margin-left: 563px;
}
.tv{
    margin-left: 131px;
    margin-top: -198px;
    margin-bottom: 27px;
    color: #E8733A;
}
.six{
    margin-top:-84px ;
}
.icon-one h1 {
    color: #442505;
    font-weight: 400;
    font-size: 26px;
    margin-left: -532px;
    margin-top: 52px;
}
.icon-one p{
    margin-top: 5px;
    margin-left:-482px;
}
.icon-one .video{
    margin-top: -99px;
    margin-bottom: 21px;
    margin-left: -892px;
    color: #E8733A;
}
.four{
    margin-top: -73px;
    margin-right: 12px;
}
.icon-two h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -113px;
    margin-left: 489px;
}
.icon-two p{
    margin-left:531px ;
}
.icon-two .camera{
    margin-top: -119px;
    margin-bottom: 26px;
    margin-left: 119px;
    color: #E8733A;
}
.icon-three h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: 99px;
    margin-left: -543px;
}
.icon-three p{
    margin-top: 22px;
    margin-left: -471px;
}
.icon-three .face{
    margin-top: -77px;
    margin-bottom: 24px;
    margin-left: -897px;
    color: #E8733A;
}
.two{
    margin-left: -1028px;
    margin-top: -73px;
}
.icon-four h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -114px;
    margin-left: 513px;
}
.icon-four p{
    margin-left: 536px;
}
.icon-four .folder {
    margin-top: -94px;
    margin-bottom: 28px;
    margin-left: 122px;
    color: #E8733A;
}
.five{
    margin-top: -81px;
}
.icon-five h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: -445px;
    margin-top: 96px;
}
.icon-five p{
    margin-left: -445px;
    margin-top:26px;
}
.icon-five .neuter{
    margin-left: -884px;
    margin-top: -199px;
    margin-bottom: 21px;
    color: #E8733A;
}
 .three{
    margin-left:-1019px;
    margin-top: -88px;
}
.icon-six h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: 572px;
    margin-top: -105px;
}
.icon-six p{
    margin-left: 563px;
}
.tv{
    margin-left: 131px;
    margin-top: -198px;
    margin-bottom: 27px;
    color: #E8733A;
}
.six{
    margin-top:-84px ;
}

.icon-one h1 {
    color: #442505;
    font-weight: 400;
    font-size: 26px;
    margin-left: -532px;
    margin-top: 52px;
}
.icon-one p{
    margin-top: 5px;
    margin-left:-482px;
}
.icon-one .video{
    margin-top: -99px;
    margin-bottom: 21px;
    margin-left: -892px;
    color: #E8733A;
}
.four{
    margin-top: -73px;
    margin-right: 12px;
}
.icon-two h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -113px;
    margin-left: 489px;
}
.icon-two p{
    margin-left:531px ;
}
.icon-two .camera{
    margin-top: -119px;
    margin-bottom: 26px;
    margin-left: 119px;
    color: #E8733A;
}
.icon-three h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: 99px;
    margin-left: -543px;
}
.icon-three p{
    margin-top: 22px;
    margin-left: -471px;
}
.icon-three .face{
    margin-top: -77px;
    margin-bottom: 24px;
    margin-left: -897px;
    color: #E8733A;
}
.two{
    margin-left: -1028px;
    margin-top: -73px;
}
.icon-four h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -114px;
    margin-left: 513px;
}
.icon-four p{
    margin-left: 536px;
}
.icon-four .folder {
    margin-top: -94px;
    margin-bottom: 28px;
    margin-left: 122px;
    color: #E8733A;
}
.five{
    margin-top: -81px;
}
.icon-five h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: -445px;
    margin-top: 96px;
}
.icon-five p{
    margin-left: -445px;
    margin-top:26px;
}
.icon-five .neuter{
    margin-left: -884px;
    margin-top: -199px;
    margin-bottom: 21px;
    color: #E8733A;
}
 .three{
    margin-left:-1019px;
    margin-top: -88px;
}
.icon-six h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: 572px;
    margin-top: -105px;
}
.icon-six p{
    margin-left: 563px;
}
.tv{
    margin-left: 131px;
    margin-top: -198px;
    margin-bottom: 27px;
    color: #E8733A;
}
.six{
    margin-top:-84px ;
}
.icon-one h1 {
    color: #442505;
    font-weight: 400;
    font-size: 26px;
    margin-left: -532px;
    margin-top: 52px;
}
.icon-one p{
    margin-top: 5px;
    margin-left:-482px;
}
.icon-one .video{
    margin-top: -99px;
    margin-bottom: 21px;
    margin-left: -892px;
    color: #E8733A;
}
.four{
    margin-top: -73px;
    margin-right: 12px;
}
.icon-two h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -113px;
    margin-left: 489px;
}
.icon-two p{
    margin-left:531px ;
}
.icon-two .camera{
    margin-top: -119px;
    margin-bottom: 26px;
    margin-left: 119px;
    color: #E8733A;
}
.icon-three h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: 99px;
    margin-left: -543px;
}
.icon-three p{
    margin-top: 22px;
    margin-left: -471px;
}
.icon-three .face{
    margin-top: -77px;
    margin-bottom: 24px;
    margin-left: -897px;
    color: #E8733A;
}
.two{
    margin-left: -1028px;
    margin-top: -73px;
}
.icon-four h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-top: -114px;
    margin-left: 513px;
}
.icon-four p{
    margin-left: 536px;
}
.icon-four .folder {
    margin-top: -94px;
    margin-bottom: 28px;
    margin-left: 122px;
    color: #E8733A;
}
.five{
    margin-top: -81px;
}
.icon-five h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: -445px;
    margin-top: 96px;
}
.icon-five p{
    margin-left: -445px;
    margin-top:26px;
}
.icon-five .neuter{
    margin-left: -884px;
    margin-top: -199px;
    margin-bottom: 21px;
    color: #E8733A;
}
 .three{
    margin-left:-1019px;
    margin-top: -88px;
}
.icon-six h1{
    font-weight: 400;
    color: #442505;
    font-size: 26px;
    margin-left: 572px;
    margin-top: -105px;
}
.icon-six p{
    margin-left: 563px;
}
.tv{
    margin-left: 131px;
    margin-top: -198px;
    margin-bottom: 27px;
    color: #E8733A;
}
.six{
    margin-top:-84px ;
}

 */















































